name: tests

on:
  pull_request:
    branches: [ '*' ]
  push:
    branches:
      - "main"

jobs:
  render-kustomize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: imranismail/setup-kustomize@v2
      - run: |
          ./hack/test.sh
